header {
    background-color: wheat;
    font-size: 3rem;
    padding: 20px;
}

button {
    cursor: pointer;
}

.habit-set {
    margin: 20px;
}

.habit-btn {
    background-color: green;
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s;
}

.habit-btn:hover {
    opacity: 0.8;
}
.habit-input {
    font-size: 2.5rem;
    width: 300px;
    height: 40px;
}

.habit-reset {
    padding: 5px 14px;
    font-size: 2rem;
    margin-left: 20px;
}

.habit {
    margin: 10px;
    font-size: 2.5rem;
    list-style: none;
}

.add-input {
    padding: 14px;
    font-size: 18px;
}

.add-button {
    border: none;
    background-color: green;
    color: white;
    margin-left: 12px;
    font-size: 2.5rem;
}

.habit-count {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: darkseagreen;
    margin: 0px 0.5rem;
    color: white;
    border-radius: 50%;
}

.habit-count.deep {
    background-color: green;
}

.habit-button {
    font-size: 32px;

    outline: none;
    border: none;
    background-color: transparent;
}

.habit-button:hover {
    opacity: 0.8;
}

.habit-increase,
.habit-decrease {
    color: gold;
}

.habit-trash {
    color: red;
}
