nav {
    background-color: wheat;
    font-size: 3rem;
    padding: 20px;
}

.habit {
    margin: 10px;
    font-size: 2.5rem;
    list-style: none;
}

.habit-count {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: darkseagreen;
    margin: 0px 0.5rem;
    color: white;
    border-radius: 50%;
}

.habit-count.deep {
    background-color: green;
}

.habit-button {
    font-size: 32px;

    outline: none;
    border: none;
    background-color: transparent;
}

.habit-button:hover {
    opacity: 0.8;
}

.habit-increase,
.habit-decrease {
    color: gold;
}

.habit-trash {
    color: red;
}
